<!-- <button *ngIf="!isLogin" (click)="signInWithGoogle()">Sign In with Google</button> -->

<header
    class="fixed inset-x-0 top-0 z-30 mx-auto w-full max-w-screen-md border border-gray-100 bg-white/80 py-3 shadow backdrop-blur-lg md:top-6 md:rounded-3xl lg:max-w-screen-lg">
    <div class="px-4">
        <div class="flex items-center justify-between">
            <div class="flex shrink-0">
                <a aria-current="page" class="flex items-center" href="/">
                    <img class="h-7 w-auto" src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="">
                    <p class="sr-only">Website Title</p>
                </a>
            </div>
            <div class="hidden md:flex md:items-center md:justify-center md:gap-5">
                <a aria-current="page"
                    class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
                    >How it works</a>
                <!-- <a class="inline-block rounded-lg px-2 py-1 text-sm font-medium text-gray-900 transition-all duration-200 hover:bg-gray-100 hover:text-gray-900"
                    href="#">Pricing</a> -->
            </div>
            <div *ngIf="isLogin && isNotionLoggedIn" (click)="signout()" class="flex items-center justify-end gap-3">
                
                <a class="inline-flex items-center justify-center rounded-xl bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm transition-all duration-150 hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
                    >Logout</a>
            </div>
        </div>
    </div>
</header>

<section class="font-sans">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center h-screen">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font xl:text-4xl md:text-3xl text-2xl mb-4 font-medium text-gray-900">Before they sold out
        <br class="hidden lg:inline-block">readymade gluten
      </h1>
      <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
      <div class="flex flex-col sm:flex-row gap-4 justify-center items-center lg:justify-start
       w-full">
        <button *ngIf="!isLogin" (click)="signInWithGoogle()"  class="w-full sm:w-auto text-center text-sm sm:text-base text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded ">Sign in with Google</button>
        <a *ngIf="!isNotionLoggedIn && isLogin" [href]="connectToNotion()" class="w-full sm:w-auto text-center text-sm sm:text-base text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded ">Connect to Notion</a>
      </div>
      

      <ol class="mt-16 flex items-center justify-center md:justify-start w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
        <!-- completed state -->
        <li class="flex md:w-full items-center sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-300 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10">
          <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-100 dark:after:text-gray-500">
            <span class="w-8 h-8 text-xs sm:w-10 sm:h-10 sm:text-sm text-white border border-solid border-gray-200 rounded-full flex items-center justify-center" *ngIf="isLogin">
              <span class="text-white">✔</span>
            </span>
            <span *ngIf="!isLogin" class="w-8 h-8 text-xs sm:w-10 sm:h-10 sm:text-sm border border-solid border-gray-200 rounded-full flex items-center justify-center">1</span>
          </span>
        </li>
        <!-- current state -->
        <li class="flex  md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-300 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10">
          <span class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-100 dark:after:text-gray-500">
            <span class="w-8 h-8 text-xs sm:w-10 sm:h-10 sm:text-sm text-white border border-solid border-gray-200 rounded-full flex items-center justify-center" *ngIf="isNotionLoggedIn">
              <span class="text-white">✔</span>
            </span>
            <span *ngIf="!isNotionLoggedIn || !isLogin" class="w-8 h-8 text-xs sm:w-10 sm:h-10 sm:text-sm border border-solid border-gray-200 rounded-full flex items-center justify-center">2</span>
          </span>
        </li>
        <li  *ngIf="isNotionLoggedIn && isLogin">
          <p class="font-medium pt-4 p-4">You are ready to go</p>
        </li>
        <li *ngIf="!isLogin">
          Login with google
         </li>
         <li *ngIf="!isNotionLoggedIn && isLogin">
           Login with notion
         </li>
        
      </ol>
      <div *ngIf="isNotionLoggedIn && isLogin" class="flex mx-auto items-center justify-center  pt-6 p-4 ">
        <li class="flex flex-row p-4">
          <a [attr.disabled]="!isNotionLoggedIn || !isLogin ? true : null" href="https://www.linkedin.com/" target="_blank" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
            Open Linkedin
          </a>
        
          <a [attr.disabled]="!isNotionLoggedIn || !isLogin ? true : null" href="https://www.notion.so/" target="_blank" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">
            Open Notion
          </a>
        </li>
        
        
      </div>
      
      
      
      
      
      

    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 hidden md:block">
      <img class="object-cover object-center rounded" alt="hero" src="https://e0.pxfuel.com/wallpapers/90/1010/desktop-wallpaper-how-to-reverse-engineer-who-s-viewed-your-profile-on-linkedin-to-linkedin-business.jpg">
    </div>
  </div>
</section>





<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/"
        class="hover:underline">Flowbite™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>



<div *ngIf="loading" class="loading-overlay">
  <div aria-label="Loading..." role="status" class="flex items-center space-x-2">
    <svg class="h-20 w-20 animate-spin stroke-gray-500" viewBox="0 0 256 256">
        <line x1="128" y1="32" x2="128" y2="64" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
        <line x1="195.9" y1="60.1" x2="173.3" y2="82.7" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="24"></line>
        <line x1="224" y1="128" x2="192" y2="128" stroke-linecap="round" stroke-linejoin="round" stroke-width="24">
        </line>
        <line x1="195.9" y1="195.9" x2="173.3" y2="173.3" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="24"></line>
        <line x1="128" y1="224" x2="128" y2="192" stroke-linecap="round" stroke-linejoin="round" stroke-width="24">
        </line>
        <line x1="60.1" y1="195.9" x2="82.7" y2="173.3" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="24"></line>
        <line x1="32" y1="128" x2="64" y2="128" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
        <line x1="60.1" y1="60.1" x2="82.7" y2="82.7" stroke-linecap="round" stroke-linejoin="round" stroke-width="24">
        </line>
    </svg>
    <span class="text-4xl font-medium text-gray-500">Loading...</span>
  </div>
</div>


